<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../src/css/inicio.css">
    <link rel="icon" href="../src/storage/img/cards-logo.png">
</head>
<body>
    <nav>
        <div class="div__nav-water">
            <span>AQUA</span>
            <img src="../src/storage/img/icon-water.png">
        </div>
        <div class="div__nav-list">
            <ul class="list">
                <li><a class="active" href="../views/inicio.html">INICIO</a></li>
                <li><a class="off1" href="#">CÓMO JUGAR</a></li>
                <li><a class="off2" href="#">APÓYANOS</a></li>
                <li><a class="off3" href="#">SOBRE NOSOTROS </a></li>
            </ul>
        </div>
        <div class="div__nav-modes">
            <img src="../src/storage/img/dark-mode.png">
            <img src="../src/storage/img/light-mode.png">
        </div>
    </nav>
    <header>
        <div class="div__header">
            <div class="div__logo">
                <img src="../src/storage/img/CRAE.png">
                <p class="text-crae1">Somos creatividad, somos Crae</p>
                <p class="text-crae2">Crae es un juego de cartas inclusivo donde personas videntes, no videntes y con discapacidad visual pueden participar y disfrutar en conjunto.</p>
            </div>
            <div class="div__buy">
                <img class="cards-logo" src="../src/storage/img/cards-logo.png">
                <button class="button-buy">
                    <img class="shopping" src="../src/storage/img/shopping-cart.png">
                    <a class="text-button-buy" href="../views/inicio.html"><p>Comprar</p></a>
                </button>
            </div>
            <div class="div__social">
                <img class="insta" src="../src/storage/img/icon-instagram.png">
                <img class="facebook" src="../src/storage/img/icon-facebook.png">
                <img class="kick" src="../src/storage/img/icon-kickstarter.png">
            </div>
        </div>
    </header>
</body>
</html>