<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../src/css/inicio.css">
    <link rel="icon" href="../src/storage/img/cards-logo.png">
</head>
<body>
    <nav>
        <div class="div__nav-water">
            <span>AQUA</span>
            <img src="../src/storage/img/icon-water.png">
        </div>
        <div class="div__nav-list">
            <ul class="list">
                <li><a class="active" href="#">INICIO</a></li>
                <li><a class="off1" href="#">CÓMO JUGAR</a></li>
                <li><a class="off2" href="#">APÓYANOS</a></li>
                <li><a class="off3" href="#">SOBRE NOSOTROS </a></li>
            </ul>
        </div>
        <div class="div__nav-modes">
            <img src="../src/storage/img/dark-mode.png">
            <img src="../src/storage/img/light-mode.png">
        </div>
    </nav>
</body>
</html>