@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-1);
}
/************* Nav *************/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 15px 0px 0px 0px;
}
.div__nav-water{
    display: flex;
    align-items: center;
    width: 250px;
    height: 85px;
    border-radius: 0px 48px 48px 0px;
    background-color: var(--color-2);
}
.div__nav-water span{
    font-family: "Roboto_Condensed-Regular";
    font-size: 48px;
    margin-left: 30px;
    color: var(--color-3);
}
.div__nav-water img{
    margin-left: 15px;
    width: 42.26px;
    height: 42.45px;
}
.div__nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.list{
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.list li{
    font-size: 24px;
    margin: 0 40px;
}
.active{
    font-family: "Roboto_Condensed-Bold";
    color: var(--color-2);
}
.off1{
    font-family: "Roboto_Condensed-Bold";
    text-decoration: none;
    color: var(--color-2);
}
.off2{
    font-family: "Roboto_Condensed-Bold";
    text-decoration: none;
    color: var(--color-2);
}
.off3{
    font-family: "Roboto_Condensed-Bold";
    text-decoration: none;
    color: var(--color-2);
}
.div__nav-modes{
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-left: 70px;
}
/******************************/
/************* Header *************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 140px 0px 100px 0px;
}
.div__header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div__logo{
    display: flex;
    width: 600px;
    height: 500px;
    margin-left: 70px;
    flex-direction: column;
    align-items: center;
}
.div__logo img{
    filter: invert(1);
    width: 600px;
    height: 291px;
}
.div__logo .text-crae1{
    font-family: "ReadexPro-Light";
    font-size: 40px;
    margin-top: 10px;
    color: var(--color-2);
}
.div__logo .text-crae2{
    font-family: "Roboto_Condensed-Regular";
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    color: var(--color-2);
}
.div__buy{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    margin-left: 50px;
}
.div__buy .cards-logo{
    width: 350px;
    height: 350px;
    margin-top: -50px;
    transform: rotate(13.36deg);
}
.button-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    height: 54px;
    border: none;
    border-radius: 40px;
    margin-left: 80px;
}
.button-buy .shopping{
    transform: rotate(0deg);
    width: 30px;
    height: 30px;
}
.text-button-buy{
    font-family: "Roboto_Condensed-Bold";
    font-size: 35px;
    color: var(--color-1);
}